/*Johan début du code*/
/**Icon du body de la homepage**/

/*Contient la mise en page des icons OhMyFood*/
.icon_body {
  padding-right: 25px;
  padding-bottom: 25px;
  font-size: 18px;
}
.icon_body_2 {
  padding-right: 40px;
}
.icon_body_3 {
  padding-right: 30px;
}
/**Icon du body des menus**/
/*Contient la mise en page des icons*/
.menu_like {
  padding-left: 30px;
  /*Contient l'espacement des coeurs "like"*/
}
/**Icon du footer*/
/*Contient la mise en page des icons*/
.icon_footer {
  padding-right: 15px;
  font-size: 12px;
}
.icon_footer_2 {
  padding-right: 10px;
  font-size: 12px;
}
/*Fin du code*/
