* {
  /*Personnalisation et mise en page*/
  font-family: "Roboto", sans-serif;
  /*Police de charactère pour le Texte*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title_menu {
  font-family: "Shrikhand", serif;
  /*Police de charactère pour les Titres et Logo*/
  font-size: 28px;
  padding-bottom: 25px;
}
