/*Le code ci-dessous correspond à mes rajouts de code/*Johan*/
/*CSS restant du rajout de code*/

/***Body du site internet***/
/*Contient les éléments de Location*/
.alignement_location {
  display: flex;
  justify-content: center;
  background: var(--grey-2, #eaeaea);
  padding-top: 10px;
  padding-bottom: 10px;
  /*Contient le background gris pour la localisation*/
}
.space_location {
  font-size: 16px;
}
.background_grey {
  background: var(--Background, #f6f6f6);
  /*Background gris clair pour réservations et restaurants ainsi que pour les menus*/
}
.space_reservation {
  font-size: 24px;
  text-align: center;
}
.space_discovery {
  padding-bottom: 15px;
  font-size: 18px;
  text-align: center;
}
.btn_exploration {
  border-radius: 25px;
  background: var(
    --Button-Gradient,
    linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%)
  );
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: var(--white-color);
  width: auto;
  height: 50px;
  border-color: var(--secondary-color);
  font-size: 16px;
  border-style: none;
  cursor: pointer;
  transition: all 0.5s;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  /*Contient le btn exploration*/
}
.btn_exploration:hover {
  box-shadow: 10px 5px 5px var(--grey-2);
}
/*Contient les éléments de Fonctionnements*/
.space_fonctionnement {
  padding-top: 25px;
}
.alignement_fonctionnement {
  flex-direction: column;
  display: flex;
  padding: 20px;
  gap: 15px;
  padding-bottom: 60px;
  padding-top: 40px;
}
.btn_fonctionnement {
  border-radius: 20px;
  background: var(--Background, #f6f6f6);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  width: auto;
  height: 72px;
  border-color: #f6f6f6;
  font-size: 16px;
  border-style: none;
  /*Contient les 3 btn de fonctionnement*/
}
.icon_body {
  padding-right: 25px;
}

/*Contient les éléments de Restaurants*/
.alignement_restaurants {
  padding: 20px;
  padding-top: 50px;
}
.img_restaurants {
  width: 100%;
  height: 181px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  /*Contient les réglages pour les img de la homepage*/
}

.bloc_restaurants {
  padding: 5px;
  padding-bottom: 50px;
}

.card_restaurants {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  height: 250px;
}
.description_restaurants {
  text-decoration: none;
  color: black;
}

/***Body des menus du site internet***/
/*Contient les éléments des menus*/

.menu_all {
  border-radius: 30px;
}

.img_menu {
  width: 100%;
  height: 275px;
  object-fit: cover;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  /*Contient les réglages pour les img des menus*/
}

.menu_like {
  padding-left: 30px;
  /*Contient l'espacement des coeurs "like"*/
}

.space_menu {
  padding-top: 40px;
}

.btn_menu {
  text-align: start;
  padding-left: 15px;
}

.space_euro {
  font-weight: bold;
}

.plate_content {
  font-size: 18px;
}

.plate_price {
  font-size: 15px;
}

.arrow_space {
  margin: 20px;
  /*padding-right: 30px;*/
}
