/*Modules*/
@import "./style_header.css";
@import "./style_body.css";
@import "./style_footer.css";

/****** General ***********/
* {
  /*Personnalisation*/
  /*font-family: "Shirkland"; /*Logo et titres*/
  font-family: "Roboto"; /*Texte*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*Couleur du site*/
  --Primaire-color: #9356dc;
  --Secondaire-color: #ff79da;
  --Tertiaire-color: #99e2d0;
  --green-font-color: #008766;
  --blue-color: #89c8fa;
  --blue2-color: #003a68;
  --white-color: #f3f3f3;
  --grey-: #eaeaea;
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
}

/* Large devices (desktop, less than 1440px) */
@media (max-width: 1440px) {
}
