/*Modules*/
@import "./style_header.css";
@import "./style_body.css";
@import "./style_footer.css";

/****** General ***********/
* {
  /*Personnalisation*/
  /*font-family: "Shirkland", sans-serif; /*Logo et titres*/
  font-family: "Roboto", sans-serif; /*Texte*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*Couleurs du site OhMyfood*/
  --primary-color: #9356dc;
  --secondary-color: #ff79da;
  --tertiary-color: #99e2d0;
  --green-font-color: #008766;
  --blue-color: #89c8fa;
  --blue2-color: #003a68;
  --white-color: #f3f3f3;
  --grey: #353535;
  --grey-2: #eaeaea;
}

/****** Media queries ***********/
/* Medium devices (tablets, 1024px) */
@media (max-width: 1024px) {
}

/* Large devices (desktop, 1440px) */
@media (max-width: 1440px) {
}
