/*Le code ci-dessous correspond à mes rajouts de code/*Johan*/
/*CSS restant du rajout de code*/

/***Body du site internet***/
/*Contient les éléments de Location*/
.alignement_location {
  display: flex;
  justify-content: center;
  background: var(--grey-2, #eaeaea);
}

.background_reservation {
  background: var(--Background, #f6f6f6);
}
.btn_exploration {
  border-radius: 25px;
  background: var(
    --Button-Gradient,
    linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%)
  );
  /* Shadow/Button */
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: var(--white-color);
  width: auto;
  height: 50px;
  border-color: #9356dc;
}
/*Contient les éléments de Fonctionnements*/
.alignement_fonctionnement {
  flex-direction: column;
  display: flex;
  padding: 20px;
  gap: 15px;
}
.btn_fonctionnement {
  border-radius: 20px;
  background: var(--Background, #f6f6f6);
  /* Shadow/Instructions */
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  width: auto;
  height: 72px;
  border-color: #f6f6f6;
}

/*Contient les éléments de Restaurants*/
.alignement_restaurants {
  padding: 20px;
}
.img_restaurants {
  width: 100%;
  height: 231px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  border: 1px solid var(--white-color);
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.bloc_restaurants {
  background: #fff;
  border-radius: 15px;
  padding: 5px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}
