/*Le code ci-dessous correspond à mes rajouts de code/*Johan*/
/*CSS du footer*/

/***Bas du site internet***/
.footer {
  background: var(--grey, #353535);
  /*Pour le rectangle gris foncé du Footer*/
}
.li_footer {
  list-style-type: none;
  font-size: 16px;
  padding-top: 7px;
}
.space_footer {
  padding: 22px 25px;
}
.lien_footer {
  color: #fff;
  text-decoration: none;
}
.icon_footer {
  padding-right: 10px;
}
