/*Johan début du code*/
/***Body des menus OhMyFood***/

/*Contient les éléments des menus*/
.menu_all {
  border-radius: 30px;
}

.title_logo {
  padding-right: 90px;
}
.line_green {
  border-bottom: 3px solid $tertiary-color;
  width: 40px;
}
.img_menu {
  width: 100%;
  height: 275px;
  object-fit: cover;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  /*Contient les réglages pour les img des menus*/
}

.space_menu {
  padding-top: 40px;
}

.space_euro {
  font-weight: bold;
  display: block;
  text-align: end;
  padding-right: 15px;
}

.plate_content {
  font-size: 18px;
}

.plate_price {
  font-size: 15px;
}

.arrow_space {
  margin: 20px;
  padding-right: 20px;
  font-size: 20px;
}

.alignement_menu {
  padding-top: 1px;
}
/*Fin du code*/
