/*Johan début du code*/
/***Body des menus OhMyFood***/

/*Contient les éléments des menus*/
.menu_all {
  border-radius: 30px;
}

.title_logo {
  padding-right: 90px;
}
.line_green {
  border-bottom: 3px solid $tertiary-color;
  width: 40px;
}
.img_menu {
  width: 100%;
  height: 275px;
  object-fit: cover;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  /*Contient les réglages pour les img des menus*/
}

.space_menu {
  padding-top: 40px;
}

.space_euro {
  font-weight: bold;
  display: block;
  text-align: end;
  padding-right: 15px;
  position: relative;
  bottom: 20px;
}

.plate_content {
  font-size: 18px;
}

.plate_price {
  font-size: 15px;
  max-width: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.arrow_space {
  margin: 20px;
  font-size: 20px;
  position: absolute;
  left: 5px;
}

.alignement_menu {
  padding-top: 1px;
}

/*Background grey au dessus de l'image*/
.main_background {
  display: grid;
  grid-template-rows: 200px 75px auto auto auto;
  grid-template-columns: auto;
}
.img_background {
  grid-row: 1/3;
  grid-column: 1/-1;
}
.restaurants_background {
  grid-row: 2/4;
  grid-column: 1/-1;
  border-radius: 30px;
  border-bottom-left-radius: initial;
  border-bottom-right-radius: initial;
}
.btn_command {
  grid-column: 1/-1;
}
/*Fin du code*/
