/****** Media queries ***********/

/*Media queries de la homepage*/
/* Large devices (desktop, 1440px) */
@media (min-width: 1440px) {
  /*Header*/
  .logo_orientation {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  /*Main*/
  .alignement_location {
    border-top: none;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .space_reservation {
    font-size: 40px;
  }
  .btn_exploration {
    width: 218px;
    margin: auto;
  }
  .btn_fonctionnement {
    width: 322px;
  }
  .btn_fonctionnement_direction {
    display: grid;
    grid-template-columns: 200px 350px 350px 350px;
  }
  .bloc_restaurants {
    display: grid;
    grid-template-columns: 200px 810px;
    justify-content: space-between;
  }
  .card_restaurants {
    width: 490px;
  }
  .dish_title {
    font-size: 18px;
  }
  .dish_content {
    font-size: 17px;
  }

  /*Footer*/
  .footer {
    display: flex;
    justify-content: flex-end;
  }
  .space_footer {
    display: flex;
  }
  .order_footer {
    order: 1;
  }
  .ul_alignement {
    display: flex;
    gap: 16px;
  }
  /*Media queries des pages menus*/

  button {
    padding-left: 20px;
  }
  .menus_content {
    align-items: center;
  }
  .menus_dish {
    width: 634px;
  }
  .btn_fonctionnement_menus {
    width: 490px;
  }
}
