/****** Media queries ***********/

/*Media queries de la homepage*/
/* Medium devices (tablets, 1024px) */
@media (min-width: 767.99px) {
  /*Header*/
  .logo_orientation {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  /*Main*/
  .alignement_location {
    border-top: none;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .space_reservation {
    font-size: 40px;
  }
  .btn_exploration {
    width: 218px;
    margin: auto;
  }
  .btn_fonctionnement {
    width: 322px;
  }
  .btn_fonctionnement_direction {
    flex-direction: row;
  }
  .card_restaurants {
    width: 490px;
  }

  /*Footer*/
  .footer {
    display: flex;
    justify-content: flex-end;
  }
  /*Media queries des pages menus*/
  .menus_contenu {
    align-items: center;
  }
  .menus_dish {
    width: 634px;
  }
}
