/*Johan début du code*/
/**Fonctions Like**/
/*Like de OhMyFood*/
svg > path {
  fill: none;
  stroke: black;
}
svg:hover > path {
  fill: url("#paint0_linear");
  cursor: pointer;
  transition: color 1s ease-out;
}
button {
  background: transparent;
  border: none;
}

/*Like de OhMyFood Prototype*/
/*.fa-heart {
  border-radius: 50%;
  padding: 0.2em;
}
.fa-heart::before {
  content: "\f004";
  /*font-weight: bold;*/
/*transition: color 1s ease-out;*/
/*}
.fa-heart:hover::before {
  color: $primary-color;
  cursor: pointer;
}*/

/*Fin du code*/
