/*Johan début du code*/
/**Fonctions Like**/
/*Like de OhMyFood*/
svg > path {
  fill: none;
  stroke: black;
}
svg:hover > path {
  fill: url("#paint0_linear");
  cursor: pointer;
  transition: color 1s ease-out;
}
button {
  background: transparent;
  border: none;
  @include min768 {
    padding-left: 20px;
  }
}
/*Fin du code*/
