/*@mixin min1080() {
  @media (min-width: 1080px) {
    @content;
  }
}
@mixin max1440() {
  @media (max-width: 1440px) {
    @content;
  }
}*/
@mixin min1440() {
  @media (min-width: 1440px) {
    @content;
  }
}
@mixin min768() {
  @media (min-width: 768px) {
    @content;
  }
}
/****** Media queries ***********/

/*Media queries de la homepage*/
/* Large devices (desktop, 1440px) */
/*Header*/
.logo_orientation {
  @include min1440 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
/*Main*/
.alignement_location {
  @include min1440 {
    box-shadow: none;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.space_reservation {
  @include min1440 {
    font-size: 40px;
  }
}
.space_location_2 {
  margin-right: 450px;
}
.btn_exploration {
  @include min1440 {
    width: 218px;
    margin: auto;
  }
}
.circle_number {
  @include min1440 {
    top: 110px;
  }
}
.btn_fonctionnement {
  @include min1440 {
    /*max-width: 322px;*/
    width: 322px;
  }
}
.btn_fonctionnement_2 {
  @include min1440 {
    max-width: 322px;
  }
}
.space_fonctionnement {
  @include min1440 {
    padding-top: 1px;
  }
}
.btn_fonctionnement_direction {
  @include min1440 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 50px 180px;
  }
}
/*Ajout de code pour les btn fonctionnements en desktop*/
.btn_order_1 {
  @include min1440 {
    order: 1;
  }
}
.btn_order_2 {
  @include min1440 {
    order: 2;
  }
}
.btn_order_3 {
  @include min1440 {
    order: 3;
  }
}
/*Fin de code*/
.alignement_restaurants {
  @include min1440 {
    padding-left: 180px;
  }
}
.bloc_restaurants {
  @include min1440 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    column-gap: 10px;
    padding: 0px 180px;
    gap: 50px;
    padding-bottom: 30px;
  }
}
.card_restaurants {
  @include min1440 {
    max-width: 490px;
    position: relative;
  }
}
.dish_title {
  @include min1440 {
    font-size: 18px;
  }
}
.dish_content {
  @include min1440 {
    font-size: 17px;
  }
}
/*Footer*/
.footer {
  @include min1440 {
    display: flex;
    justify-content: flex-end;
  }
}
.space_footer {
  @include min1440 {
    display: flex;
  }
}
.order_footer {
  @include min1440 {
    order: 1;
  }
}
.ul_alignement {
  @include min1440 {
    display: flex;
    gap: 16px;
    padding: 30px 25px;
    padding-right: 70px;
  }
}
/*Media queries des pages menus*/
button {
  @include min1440 {
    padding-left: 20px;
  }
}
.menus_content {
  @include min1440 {
    align-items: center;
  }
}
.menus_dish {
  @include min1440 {
    width: 634px;
  }
}
.btn_fonctionnement_menus {
  @include min1440 {
    width: 490px;
  }
}
/*Media queries de la homepage*/
/* Medium devices (tablets, 1024px) */
/*Header*/
.logo_orientation {
  @include min768 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
/*Main*/
.alignement_location {
  @include min768 {
    box-shadow: none;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.space_reservation {
  @include min768 {
    font-size: 40px;
  }
}
.btn_exploration {
  @include min768 {
    width: 218px;
    margin: auto;
  }
}
.circle_number {
  @include min768 {
    top: 110px;
  }
}
.btn_fonctionnement {
  @include min768 {
    /*max-width: 322px;*/
    width: 322px;
  }
}
.btn_fonctionnement_2 {
  @include min768 {
    max-width: 322px;
    width: auto;
  }
}
.space_fonctionnement {
  @include min768 {
    padding-top: 1px;
  }
}
.btn_fonctionnement_direction {
  @include min768 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 50px 180px;
  }
}
/*Ajout de code pour les btn fonctionnements en desktop*/
.btn_order_1 {
  @include min768 {
    order: 1;
  }
}
.btn_order_2 {
  @include min768 {
    order: 2;
  }
}
.btn_order_3 {
  @include min768 {
    order: 3;
  }
}
/*Fin de code*/
.alignement_restaurants {
  @include min768 {
    padding-left: 180px;
  }
}
.bloc_restaurants {
  @include min768 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    column-gap: 10px;
    padding: 0px 180px;
    gap: 50px;
    padding-bottom: 30px;
  }
}
.card_restaurants {
  @include min768 {
    max-width: 490px;
    position: relative;
  }
}
.dish_title {
  @include min768 {
    font-size: 18px;
  }
}
.dish_content {
  @include min768 {
    font-size: 17px;
  }
}
/*Footer*/
.footer {
  @include min768 {
    display: flex;
    justify-content: flex-end;
  }
}
.space_footer {
  @include min768 {
    display: flex;
  }
}
.order_footer {
  @include min768 {
    order: 1;
  }
}
.ul_alignement {
  @include min768 {
    display: flex;
    gap: 16px;
    padding: 30px 25px;
    padding-right: 70px;
  }
}
/*Media queries des pages menus*/
button {
  @include min768 {
    padding-left: 20px;
  }
}
.menus_content {
  @include min768 {
    align-items: center;
  }
}
.menus_dish {
  @include min768 {
    width: 634px;
  }
}
.btn_fonctionnement_menus {
  @include min768 {
    width: 490px;
  }
}
