/*Johan début du code*/
/*CSS du footer*/

/***Bas du site internet***/
.footer {
  background-color: $grey;
  /*Pour le rectangle gris foncé du Footer*/
}
.li_footer {
  list-style-type: none;
  font-size: 16px;
  padding-top: 7px;
}
.space_footer {
  padding: 22px 25px;
}
.lien_footer {
  color: #fff;
  text-decoration: none;
}
/*Fin du code*/
