/*Johan début du code*/
/*CSS du header*/

/***Haut du site OhMyFood***/
.logo_orientation {
  display: flex;
  justify-content: center;
}
.logo_position {
  margin-bottom: 13px;
  margin-top: 14px;
}
/*Logo OhMyFood pour la Homepage*/

.logo_menu {
  margin-right: 80px;
}
/*Logo pour les pages menu*/
/*Fin du code*/
